.icon-footer, .footer__link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

footer {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../image/Korea.img1.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-menu {
  order: 0;
  text-align: center;
}

.footer__link {
  font-size: 1.5em;
}

.copyright {
  order: 2;
  text-align: center;
}

.social-media {
  order: 1;
  text-align: center;
}

.social-p {
  font-size: 1.5em;
}

.icon-flex {
  display: flex;
  gap: 2em;
}

.icon-footer {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .copyright {
    order: 0;
    text-align: center;
  }
  .social-media {
    order: 2;
    text-align: center;
  }
  .footer-menu {
    order: 1;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .copyright,
  .footer-menu,
  .social-media {
    font-size: 2em;
  }
}
@media (min-width: 1440px) {
  footer {
    width: 80%;
    margin: auto;
  }
  .copyright,
  .footer-menu,
  .social-media {
    font-size: 1.9em;
  }
}
