footer .icon-flex .icon-footer, footer .social-p, footer .footer__link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.5em;
}

footer {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../image/Korea.img1.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-menu {
  order: 0;
  text-align: center;
}
footer .copyright {
  order: 2;
  text-align: center;
}
footer .social-media {
  order: 1;
  text-align: center;
}
footer .icon-flex {
  display: flex;
  gap: 2em;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  footer .copyright {
    order: 0;
  }
  footer .social-media {
    order: 2;
  }
  footer .footer-menu {
    order: 1;
  }
}
@media (min-width: 1025px) {
  footer .copyright,
  footer .footer-menu,
  footer .social-media {
    font-size: 2em;
  }
}
@media (min-width: 1440px) {
  footer {
    width: 80%;
    margin: auto;
  }
  footer .copyright,
  footer .footer-menu,
  footer .social-media {
    font-size: 1.9em;
  }
}
