:root {
  --color-primary: #e6735b; /* Delikatny pomarańczowo-czerwony */
  --color-secondary: #003478; /* Niezmieniony niebieski */
  --color-tertiary: #000000; /* Niezmieniony czarny */

  --color-primary-darker: #cc5c4b; /* Ciemniejszy delikatny pomarańczowo-czerwony */
  --color-secondary-darker: #00265b; /* Niezmieniony ciemniejszy niebieski */
  --color-tertiary-darker: #333333; /* Niezmieniony ciemny szary */

  --color-primary-opacity: #e6735b3a; /* Przezroczysty delikatny pomarańczowo-czerwony */
  --color-secondary-opacity: #0034783a; /* Niezmieniony przezroczysty niebieski */
  --color-tertiary-opacity: #0000003a; /* Niezmieniony przezroczysty czarny */

  --gradient-primary: linear-gradient(
    to top left,
    #e6735b,
    #003478
  ); /* Gradient z delikatnym pomarańczowo-czerwonym i niebieskim */
  --gradient-secondary: linear-gradient(
    to top left,
    #cc5c4b,
    #00265b
  ); /* Gradient z ciemniejszym delikatnym pomarańczowo-czerwonym i ciemniejszym niebieskim */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0.3rem;

  position: relative;
}

.img-logo {
  width: 150px;
  height: auto;
  margin-left: 0.8rem;
}

.main-nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;

  opacity: 0;

  pointer-events: none;

  visibility: hidden;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.main-nav-lists {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 2em;
}

.main-nav-link {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.main-nav-link:link,
.main-nav-link:visited {
  padding: 0.7em;
  border-radius: 20px;
  transition: all 0.7s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: var(--color-primary-darker);
}

.btn-mobile-nav {
  margin-right: 0.7em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 2em;
  width: 2em;
  color: #000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
@media (min-width: 320px) {
  .img-logo {
    width: 200px;
    height: auto;
    margin-left: 1.2rem;
  }

  .main-nav-link {
    display: flex;
    font-size: 1.8em;
  }

  .btn-mobile-nav {
    font-size: 2em;
  }
}
@media (min-width: 425px) {
  .img-logo {
    width: 250px;
    height: auto;
    margin-left: 1.2rem;
  }

  .main-nav-link {
    font-size: 1.8em;
  }

  .btn-mobile-nav {
    font-size: 2.5em;
  }
}

@media (min-width: 960px) {
  /* Ukryj przycisk menu */
  .btn-mobile-nav {
    display: none;
  }

  /* Pokaż nawigację */
  .main-nav {
    position: static;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .main-nav-link {
    display: flex;
    font-size: 2em;
    font-weight: 600;
  }

  .main-nav-lists {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 1200px;
    margin: auto;
  }

  .img-logo {
    width: 300px;
    height: auto;
  }

  .main-nav-link {
    font-size: 2.3em;
  }
}

@media (min-width: 1500px) {
  .header {
    max-width: 80%;
  }
}

@media (min-width: 2000px) {
  .img-logo {
    width: 400px;
    height: auto;
  }

  .main-nav-link {
    font-size: 3em;
  }
}
