header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0.3rem;
}

.img-logo {
  width: 150px;
  height: auto;
  margin-left: 0.8rem;
}

.main-nav {
  list-style-type: none;
}

.main-nav-link {
  text-decoration: none;
  color: #000;
}

@media (max-width: 20em) {
}
