.header-main-text {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.2rem;
}

.p-header-main {
  display: flex;
  text-align: center;

  font-size: 1.5em;
  margin: 1em;
}

.trip {
  text-align: center;
}

.image-trip {
  width: 300px;
  margin: 0.3rem;
}

.border {
  border: 1px solid #414141;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header-trip-content {
  font-size: 1.5em;
}

.text-trip-content {
  font-size: 1.2em;

  margin: 0.2rem 0.7rem 0.5rem 0.7rem;
}
