.header-main {
  text-align: center;
  width: 1500px;
  margin: auto;
}
@media (min-width: 2000px) {
  .header-main {
    width: 1500px;
  }
}
.header-main-text {
  font-size: 2em;
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .header-main-text {
    font-size: 4em;
  }
}
@media (min-width: 1024px) {
  .header-main-text {
    font-size: 4em;
  }
}
@media (min-width: 1440px) {
  .header-main-text {
    font-size: 6em;
  }
}
.header-main .p-header-main {
  font-size: 1.5em;
  margin: 1em;
}
@media (min-width: 1024px) {
  .header-main .p-header-main {
    font-size: 1.9em;
    margin-bottom: 0.8em;
  }
}
@media (min-width: 425px) {
  .header-main {
    width: 450px;
    margin: auto;
  }
}

.trip {
  text-align: center;
}
@media (min-width: 650px) {
  .trip {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.trip .image-trip {
  width: 300px;
  margin: 0.3rem;
}
@media (min-width: 425px) {
  .trip .image-trip {
    width: 450px;
    margin: auto;
  }
}
@media (min-width: 375px) {
  .trip .image-trip {
    width: 350px;
  }
}
@media (min-width: 650px) {
  .trip .image-trip {
    flex: 1;
    object-fit: cover;
  }
}
.trip-content {
  font-size: 1.5em;
  margin: 0.2rem 0.7rem 0.5rem;
}
@media (min-width: 650px) {
  .trip-content {
    flex: 1;
  }
}

.border {
  border: 1px solid #414141;
  width: 50%;
  display: block;
  margin: 0.5rem auto;
}

@media (min-width: 650px) {
  .trip-main {
    width: 650px;
    margin: auto;
  }
}
@media (min-width: 900px) {
  .header-main {
    width: 800px;
  }
}
@media (min-width: 1024px) {
  .border {
    display: none;
  }
  .trip-main {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 1024px) and (min-width: 1440px) {
  .trip-main {
    width: 1200px;
  }
}
@media (min-width: 1024px) and (min-width: 2000px) {
  .trip-main {
    width: 1400px;
  }
}
