h1 {
  text-align: center;
  padding: 1em;
  font-size: 5.6em;
}

.section-search {
  display: none;
}

@media (min-width: 375px) {
  h1 {
    font-size: 6em;
  }
}

@media (min-width: 425px) {
  h1 {
    font-size: 6.4em;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 7.2em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 9.1em;
  }

  .section-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
  }

  .box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-row: 2fr;
    font-size: 2em;
    background-color: #ffffff96;

    width: 150px;
    height: 80px;
  }

  .box p {
    align-self: start;
    justify-self: start;
    margin: 0;
    padding-top: 0.3em;
    padding-left: 0.3em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .icon {
    grid-column: 1;
    grid-row: 2;
    padding-left: 0.3em;
  }

  .box-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .button:link,
  .button:visited {
    transition: all 0.7s;
  }

  .button:hover,
  .button:active {
    background-color: var(--color-primary);
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-list {
    font-size: 0.8em;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    margin-right: 1rem;

    border: none;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 11em;
    padding: 0.8em;
  }

  .box {
    width: 180px;
    height: 85px;
  }

  .icon {
    font-size: 1em;
  }

  .dropdown-list {
    font-size: 1em;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 12em;
  }

  .box {
    width: 200px;
    height: 100px;
  }

  .icon {
    margin-top: 0.3rem;
  }
}

@media (min-width: 2000px) {
  h1 {
    font-size: 15em;
    padding-top: 0.3em;
  }
  .box {
    margin-top: -0.3rem;
    font-size: 2.3em;
    font-weight: 600;
    width: 210px;
    height: 110px;
  }

  .date-list {
    margin-right: 0.5rem;
    margin-top: 0.3em;
  }

  .date-list-do {
    margin-top: 0.7em;
  }
  .icon {
    margin-top: 0.7rem;
  }

  .icon-do {
    margin-top: 1rem;
  }
}
