// Colors

$color-primary: #e6735b;
$color-secondary: #003478;
$color-tertiary: #000000;

$color-primary-darken: darken($color-primary, 5%);
$color-secondary-darken: darken($color-secondary, 5%);

$color-primary-lighten: lighten($color-primary, 10%);
$color-secondary-lighten: lighten($color-secondary, 10%);
$color-tertiary-lighten: lighten($color-tertiary, 10%);

$color-primary-opacity: rgba($color-primary, 0.3);
$color-secondary-opacity: rgba($color-secondary, 0.3);
$color-tertiary-opacity: rgba($color-tertiary, 0.3);

$gradient-primary: linear-gradient(
  to top left,
  $color-primary,
  $color-secondary
);
$gradient-secondary: linear-gradient(
  to top left,
  darken($color-primary, 20%) darken($color-secondary, 20%)
);

$color-text: #000;
$border-color: #414141;

// image

$background-image: url(../image/Korea.img1.png);
$background-gradient: $gradient-primary, $background-image;
$background-gradient: linear-gradient(
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.7)
);

// fonts

$font-size-base: 1.5em;
$font-size-large: 2em;
$font-size-base: 1.5em;
$font-size-large: 2em;
$font-size-xlarge: 2.3em;
$font-size-xxlarge: 3em;
$font-size-xx-large: 4em;
$font-size-xxx-large: 5em;
$font-size-xxxx-large: 6em;

// padding & margin

$gap-base: 0.5em;
$gap-large: 2em;

$margin-base: 1.25rem;
$margin-medium: 1.5rem;
$margin-large: 1.75rem;
$margin-x-large: 2rem;
$margin-xx-large: 2.25rem;
$margin-xxx-large: 2.5rem;

$margin-auto: auto;

$padding-base: 0.5em;
$padding-medium: 1em;
$padding-large: 1.5em;
$padding-x-large: 2em;
$padding-xx-large: 2.5em;

$main-width: 1500px;
$main-width-large: 80%;

// width

$image-trip-width-small: 300px;
$image-trip-width-medium: 350px;
$width-medium: 450px;
$width-large: 650px;
$width-x-large: 800px;
$width-xx-large: 1000px;
$width-xxx-large: 1200px;
$width-xxxx-large: 1400px;

// border

$box-shadow-left-down: 1px 2px 2px black;
$border-radius-all-edge: 30px;

// inheri
%text-base {
  text-decoration: none;
  color: $color-text;
  font-weight: 600;
  font-size: $font-size-base;
}

%text-link {
  text-decoration: none;
  color: $color-tertiary;
  font-weight: 600;
  font-size: $font-size-base;
  padding: $padding-base;
  border-radius: $border-radius-all-edge;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

%text-base {
  text-decoration: none;
  color: $color-text;
  font-weight: 600;
  font-size: $font-size-base;
}

%text-link {
  text-decoration: none;
  color: $color-tertiary;
  font-weight: 600;
  font-size: $font-size-base;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

// breakpoints

$breakpoint-small-mobile: 320px;
$breakpoint-medium-mobile: 375px;
$breakpoint-large-mobile: 425px;
$breakpoint-mob-btw-tab: 650px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-large-laptop: 1440px;
$breakpoint-4k: 2000px;

// mixin

@mixin media-query($size) {
  @media (min-width: $size) {
    @content;
  }
}
