// Colors

$color-primary: #e6735b;
$color-secondary: #003478;
$color-tertiary: #000000;
$color-primary-darker: #cc5c4b;
$color-secondary-darker: #00265b;
$color-tertiary-darker: #333333;
$color-primary-opacity: rgba($color-primary, 0.3);
$color-secondary-opacity: rgba($color-secondary, 0.3);
$color-tertiary-opacity: rgba($color-tertiary, 0.3);
$gradient-primary: linear-gradient(
  to top left,
  $color-primary,
  $color-secondary
);
$gradient-secondary: linear-gradient(
  to top left,
  $color-primary-darker,
  $color-secondary-darker
);
$background-gradient: linear-gradient(
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.7)
);

$font-size-base: 1.5em;
$font-size-large: 2em;
$gap-base: 0.5em;
$gap-large: 2em;
$margin-base: 1.25rem;
$padding-base: 0.5em;
$color-text: #000;

$background-image: url(../image/Korea.img1.png);

%text-base {
  text-decoration: none;
  color: $color-text;
  font-weight: 600;
  font-size: $font-size-base;
}

$font-size-base: 1.5em;
$font-size-large: 2em;
$font-size-xlarge: 2.3em;
$font-size-xxlarge: 3em;
$gap-base: 0.5em;
$gap-large: 2em;
$margin-base: 1.25rem;
$padding-base: 0.5em;

%text-link {
  text-decoration: none;
  color: $color-tertiary;
  font-weight: 600;
  font-size: $font-size-base;

  &:hover {
    background-color: $color-primary-darker;
  }
}

$background-image: url(../image/Korea.img1.png);
$background-gradient: $gradient-primary, $background-image;

$border-color: #414141;
$main-width: 1500px;
$trip-main-width-large: 80%;
$font-size-base: 1.2em; // Bazowa wielkość fontu
$font-size-large: 2em;
$font-size-x-large: 3em;
$font-size-xx-large: 4em;
$font-size-xxx-large: 5em;
$font-size-xxxx-large: 6em;
$margin-auto: auto;
$image-trip-width-small: 300px;
$image-trip-width-medium: 350px;
$trip-main-width-medium: 450px;
$trip-main-width-large: 650px;
$trip-main-width-x-large: 800px;
$trip-main-width-xx-large: 1000px;
$trip-main-width-xxx-large: 1200px;
