@import "variables";

footer {
  margin-top: $margin-base;
  margin-bottom: 0.5rem;
  padding: $padding-base;
  display: flex;
  flex-direction: column;
  gap: $gap-base;
  align-items: center;
  justify-content: center;
  background: $background-gradient, $background-image;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-query($breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  @include media-query($breakpoint-laptop) {
    width: $width-xx-large;
    margin: auto;
  }

  @include media-query($breakpoint-large-laptop) {
    width: $width-xxxx-large;
    margin: auto;
  }

  //footer menu

  .footer-menu {
    order: 0;
    text-align: center;
    @include media-query($breakpoint-tablet) {
      order: 1;
    }
    @include media-query($breakpoint-laptop) {
      font-size: $font-size-base;
    }
    @include media-query($breakpoint-large-laptop) {
      font-size: $font-size-large;
    }
  }

  .footer__link {
    @extend %text-base;
  }

  //copyright

  .copyright {
    order: 2;
    text-align: center;

    @include media-query($breakpoint-tablet) {
      order: 0;
    }
    @include media-query($breakpoint-laptop) {
      font-size: $font-size-base;
    }
    @include media-query($breakpoint-large-laptop) {
      font-size: $font-size-large;
    }
  }

  //socialmedia

  .social-media {
    order: 1;
    text-align: center;

    @include media-query($breakpoint-tablet) {
      order: 2;
    }
    @include media-query($breakpoint-laptop) {
      font-size: $font-size-base;
    }
    @include media-query($breakpoint-large-laptop) {
      font-size: $font-size-large;
    }
  }

  .social-p {
    @extend %text-base;
  }

  .icon-flex {
    display: flex;
    gap: $gap-large;

    .icon-footer {
      @extend %text-base;
    }
  }
}
