@import "variables";

.header-main {
  text-align: center;
  width: $main-width;
  margin: $margin-auto;

  &-text {
    font-size: $font-size-large;
    margin-bottom: 1.2rem;
  }

  .p-header-main {
    font-size: 1.5em;
    margin: 1em;
  }
}

.trip {
  text-align: center;
  .image-trip {
    width: $image-trip-width-small;
    margin: 0.3rem;
  }

  &-content {
    font-size: $font-size-base;
    margin: 0.2rem 0.7rem 0.5rem;
  }
}

.border {
  border: 1px solid $border-color;
  width: 50%;
  display: block;
  margin: 0.5rem $margin-auto;
}

$image-trip-width-small: 300px;
$image-trip-width-medium: 350px;

@mixin media-query($size) {
  @media (min-width: $size) {
    @content;
  }
}

@include media-query(375px) {
  .image-trip {
    width: $image-trip-width-medium;
  }
}

@include media-query(425px) {
  .header-main,
  .trip-main {
    width: $trip-main-width-medium;
    margin: $margin-auto;
  }
}

@include media-query(650px) {
  .trip-main {
    width: $trip-main-width-large;
  }
  .trip {
    display: flex;
    .image-trip {
      flex: 1;
      object-fit: cover;
    }
    &-content {
      flex: 1;
    }
  }
}

@include media-query(768px) {
  .header-main-text {
    font-size: $font-size-x-large;
  }
  .p-header-main {
    font-size: 1.9em;
    margin-bottom: 0.8em;
  }
}

@include media-query(900px) {
  .header-main-text {
    font-size: $font-size-xx-large;
  }
  .header-main {
    width: $trip-main-width-x-large;
  }
}

@include media-query(1024px) {
  .border {
    display: none;
  }
  .trip-main {
    width: $trip-main-width-xx-large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
}

@include media-query(1200px) {
  .header-main-text {
    font-size: $font-size-xxx-large;
  }
  .trip-main {
    width: $trip-main-width-xxx-large;
  }
}

@include media-query(1500px) {
  .header-main-text {
    font-size: $font-size-xxxx-large;
  }
  .trip-main {
    width: $trip-main-width-large;
  }
}

@include media-query(2000px) {
  .header-main {
    width: $main-width;
  }
  .trip-main {
    width: $trip-main-width-large;
  }
}

// Definicja mixin media-query dla ułatwienia zarządzania breakpointami
@mixin media-query($size) {
  @media (min-width: $size) {
    @content;
  }
}
